@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center mt-4">My first View From my first Controller</h1>
<p class="text-center mt-2">
    <a class="text-center mt-2" asp-controller="People" asp-action="ShowPeople">Show all people in a list</a>
</p>